#logo{
    height: 80px;
}
input::placeholder {
    color: lightgray !important;
}
.row > .col{
    padding: 0;
}
.btn-outline-light{
    --bs-btn-color: black !important;
    --bs-btn-border-color: black !important;
    --bs-btn-hover-bg: grey !important;
}